__pycache__/

.vscode/
.idea/

# Exclude all renders, plots and Blender backups
rend*/*
plot*/*
*.blend1
optimization/*
measured_data/*
blender_test_run/*
scenes/*

sun_data/*
!sun_data/default_sun.txt

# Ignore generated examples, but keep the sourse 
# spectrogram in git
examples/*
!examples/fluorescence_spectrogram.nc
