__pycache__/

.vscode/
.idea/

# Exclude all renders, plots and Blender backups
scenes*/*
rend*/*
plot*/*
*.blend1
leaf_measurement_sets/*
measured_data/*
blender_test_run/*
scenes/*

# Ignore algae data
algae_samples/*


# Ignore other than default sun and sky files
sun_data/*
!sun_data/default_sun.txt
sky_data/*
!sky_data/default_clear_sky.txt

log*/* 
leaf_model/*
!leaf_model/nn_default.pt
!leaf_model/model_parameters.toml

# Ignore generated examples, but keep the sourse 
# spectrogram in git
examples/*
!examples/fluorescence_spectrogram.nc
