__pycache__/

.vscode/
.idea/

# Exclude all renders, plots and Blender backups
rend*/*
plot*/*
*.blend1
optimization/*

# Ignore generated examples, but keep the sourse 
# spectrogram in git
examples/*
!examples/fluorescence_spectrogram.nc
